name: CI

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths-ignore:
      - "*.md"
      - "*.png"
      - "*.svg"
      - "docs/**"
      - ".vscode/**"
  pull_request:
    branches: [ main ]
    paths-ignore:
      - "*.md"
      - "*.png"
      - "*.svg"
      - "docs/**"
      - ".vscode/**"

jobs:
  build-and-test:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
        - {
          name: "macos-latest - Python 3.9",
          os: macos-latest,
          python-version: "3.9"
          }
        - {
          name: "windows-latest - Python 3.9",
          os: windows-latest,
          python-version: "3.9"
          }
        - {
          name: "ubuntu-latest - Python 3.7",
          os: ubuntu-latest,
          python-version: "3.7"
          }
        - {
          name: "ubuntu-latest - Python 3.8",
          os: ubuntu-latest,
          python-version: "3.8"
          }
        - {
          name: "ubuntu-latest - Python 3.9",
          os: ubuntu-latest,
          python-version: "3.9"
          }

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        path: segmantic_src
    - name: Setup python ${{ matrix.config.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.config.python-version }}
    - name: Pip cache
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-{{ matrix.config.python-version }}
        restore-keys: |
          ${{ runner.os }}-pip
    - name: Pip install
      run: |
        python -m pip install --upgrade pip
        pip install -e segmantic_src
    - name: Pip install dev
      run: pip install -e "segmantic_src[dev]"
    - name: Test
      working-directory: segmantic_src
      run: pytest --cov segmantic --cov-report=xml --cov-config=.coveragerc
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3.1.0
      with:
        flags: unittests #optional
        working-directory: segmantic_src
